 <div class="site-wrap" id="home-section">

      
   <!-- 
     SECCION BANNER PRINCIPAL
   -->
   {{> inicio/secciones/banner-principal}}
   
         
   <!-- 
     SECCION BANNER RENTA
   -->
   {{> inicio/secciones/banner-renta}}
   

  <!-- 
     SECCION BANNER RENTA
   -->
   {{> inicio/secciones/banner-promociones}}
  
  <!-- 
     SECCION BANNER NUESTRO SERVICIO
   -->
   {{> inicio/secciones/banner-nuestro-servicio}}


  <!-- 
     SECCION BANNER COMO TRABAJAMOS
   -->
   {{> inicio/secciones/banner-como-trabajamos}}

</div>