<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Tracusiva</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">
      <meta property="og:title" content="Tracusiva" />
      <meta property="og:description" content="Empresa Tracusiva renta de camiones de personal o turisticos" />
      <meta property="og:image" content="" />
      <meta property="og:url" content="" />
      <!-- Scripts para hojas de estilo  -->
      {{> recursos/hojas-estilos}}
   </head>
   <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
      <!-- Partials Views  -->
      {{> comunes/menu}}
      {{{body}}}
      {{> comunes/footer}}
   
   </body>
   <!-- Javascript  -->
    {{> recursos/scripts-principal}}
</html>

